.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  outline: none;
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  background-color: map-get($colors-util, 'blue');
  border: 2px solid transparent;

  line-height: 1;
  font: {
    family: 'Play', 'Avenir', Helvetica, Arial, sans-serif;
    size: 16px;
    weight: bold;
  }
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;

  &:hover {
    color: inherit;
    text-decoration: none;
    background-color: rgba(map-get($colors-util, 'blue'), 0.8);
    border-color: transparent;
  }

  &--dark {
    background-color: black;
    border-color: transparent;
    color: white;

    &:hover {
      color: white;
      background-color: rgba(black, 0.8);
      border-color: transparent;
    }
  }

  &--outlined {
    background-color: transparent;
    border-color: white;

    &:hover {
      color: black;
      background-color: white;
      border-color: white;
    }
  }

  &--dark.button--outlined {
    background-color: transparent;
    color: black;
    border-color: black;

    &:hover {
      color: white;
      background-color: black;
      border-color: black;
    }
  }

  &--error {
    background-color: map-get($colors-util, 'red');
    color: white;
    border-color: transparent;

    &:hover {
      color: white;
      background-color: rgba(map-get($colors-util, 'red'), 0.8);
      border-color: transparent;
    }
  }

  &--error.button--outlined {
    background-color: transparent;
    color: map-get($colors-util, 'red');
    border-color: map-get($colors-util, 'red');

    &:hover {
      color: white;
      background-color: map-get($colors-util, 'red');
      border-color: map-get($colors-util, 'red');
    }
  }

  &--loading {
    & > span {
      color: transparent;
    }

    & > div {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
      width: 100%;
      left: 0;

      & > span {
        display: block;
        margin: 0 2px;
        font-size: 1.5em;
        height: 2px;
        width: 2px;
        border-radius: 2px;
        background-color: white;
        animation: wave .6s ease-in-out infinite;

        &:first-child, &:last-child {
          animation-delay: 0s;
        }

        &:nth-child(2), &:nth-child(4) {
          animation-delay: 0.2s;
        }

        &:nth-child(3) {
          animation-delay: 0.4s;
        }
      }
    }
  }
}

@keyframes wave {
  0% {
    padding-top: 0;
    padding-bottom: 0;
  }

  50% {
    padding-bottom: 4px;
    padding-top: 4px;
  }

  100% {
    padding-top: 0;
    padding-bottom: 0;
  }
}