.type-background {
  &--learn {
    background-color: map-get($colors-util, 'yellow');
  }

  &--participate {
    background-color: map-get($colors-util, 'pink');
  }

  &--do {
    background-color: map-get($colors-util, 'teal');
  }

  &--share {
    background-color: map-get($colors-util, 'red');
  }

  &--favorites {
    background-color: map-get($colors-util, 'blue');
  }
}