.type-text {
  &--free {
    color: map-get($colors-util, 'yellow');
  }

  &--certificated {
    color: map-get($colors-util, 'pink');
  }

  &--events {
    color: map-get($colors-util, 'teal');
  }

  &--contents {
    color: map-get($colors-util, 'red');
  }
}