.type-background {
  &--free {
    background-color: map-get($colors-util, 'yellow');
  }

  &--certificated {
    background-color: map-get($colors-util, 'pink');
  }

  &--events {
    background-color: map-get($colors-util, 'teal');
  }

  &--contents {
    background-color: map-get($colors-util, 'red');
  }

  &--favorites {
    background-color: map-get($colors-util, 'blue');
  }
}