@mixin font-face($name, $path, $file, $weight: normal, $style: normal) {
  @font-face {
    font-family: '#{$name}';
    font-display: auto;
    src: url('#{$path}#{$file}.eot');
    src: url('#{$path}#{$file}.eot?#iefix') format('embedded-opentype'),
         url('#{$path}#{$file}.woff2') format('woff2'),
         url('#{$path}#{$file}.woff') format('woff'),
         url('#{$path}#{$file}.ttf') format('truetype'),
         url('#{$path}#{$file}.svg##{$file}') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}