%side-padding {
  padding-left: calc((100vw - 1200px) / 2);
  padding-right: calc((100vw - 1200px) / 2);

  @media screen and (max-width: 1264px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (max-width: 768px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}